<section class="page-wrapper page4">
    <div class="page text-center">
        <h4 class="mt-5 text-center text-3xl mb-10">Trusted by:</h4>
        <div class="ant-row page text-center" style="opacity: 1; transform: translate(0px, 0px);">
            <div class="ant-col-xs-24 ant-col-sm-8 ant-col-md-6" style="height: 80px; margin-left: 5%;  ">
                <img width="auto" height="120" src="../../../../assets/img/harvest-church.png" alt=""></div>
            <div class="ant-col-xs-24 ant-col-sm-8 ant-col-md-6" style="height: 80px;margin-left: 5%; ">
                <img width="auto" height="120" src="../../../../assets/img/stefcon-projects.png" alt=""></div>
            <div class="ant-col-xs-24 ant-col-sm-8 ant-col-md-6" style="height: 80px;margin-left: 5%;  ">
                <img width="auto" height="120" src="../../../../assets/img/signKeys-2.png" alt=""></div>
        </div>
    </div>
</section>

<section class="subscribe">
    <div class="flex  py-24 justify-center">
        <div class="p-12 text-center max-w-2xl">
            <div class="md:text-3xl text-3xl font-bold">Become a Partner</div>
            <div class="text-xl font-normal mt-4">
                Need a sales partner? We help attract loyal customers and increase sales. Learn how we can help deliver results.
            </div>
            <div class="mt-6 flex justify-center h-12 relative">
                <button class="ant-btn ant-btn-primary mt-2">Inquire</button>
            </div>
        </div>
    </div>
</section>
