:host {
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    background-image: linear-gradient(to top right, #912ad4, #1e0ad7);
}

.gradient {
    background-image: linear-gradient(to top right, #912ad4, #1e0ad7);
}

.text-purple {
    color: #912ad4;
}
