<div *ngIf="isLoginMode" class="flex-1 flex flex-col justify-center p-12">
    <div class="z-1 nuxt"><img src="../../../../assets/img/logo.svg" class="w-24"> SoEasy business portal
        <h1 class="text-3xl mt-6 font-bold ">Sign in</h1>
        <!-- <h3 class="text-xl text-gray-600">
            Sign in to try our amazing services
        </h3> -->
        <div class="text-sm text-red-600 mt-6"></div>

        <nz-spin [nzSpinning]="submitting" nzTip="Loading...">

            <form class="z-1 mt-6">
                <div class="relative my-8 border-b-2 focus-within:border-blue-500">
                    <input id="phonenumber" type="text" placeholder="Enter your phone number" required="required" [(ngModel)]="loginModel.username" name='username' class="block w-full appearance-none focus:outline-none bg-transparent floating-label">
                </div>
                <div class="relative mt-8 mb-2 border-b-2 focus-within:border-blue-500">
                    <input id="password" type="password" placeholder=" Password" required="required" [(ngModel)]="loginModel.password" name='password' class="block w-full appearance-none focus:outline-none bg-transparent floating-label">
                </div>

                <div class="flex">
                    <div *ngIf="loginModel?.submited" class="flex-1 mb-3 text-red-600 text-left text-lg ">
                        {{loginModel.message}}
                    </div>
                    <div class="flex-1 text-sm underline mb-3 text-right">
                        Forgot your password?
                    </div>
                </div>

                <button id="navAction" nzType="primary" (click)="signIn()" class="w-full bg-purple-600 mx-auto lg:mx-0 bg-se-gradient-r text-white font-bold rounded-full mt-6 mb-2 lg:mt-0 py-4 px-8 shadow opacity-75">
        Sign In
      </button>

            </form>

        </nz-spin>
    </div>
    <div class="mt-4 text-sm">
        Don’t have an account yet?
        <button class="font-bold underline" (click)="signUp()">
      Sign Up
    </button>
    </div>
</div>

<sk-register *ngIf="!isLoginMode" (Closed)="isLoginMode = true"></sk-register>
