<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class=" nav-link"
    [routerLinkActive]="['active']" [routerLink]="['home']">
      home</a>
  </li>
  <li class="nav-item">
    <a class=" nav-link"
    [routerLinkActive]="['active']" [routerLink]="['home/left']">
      Left</a>
  </li>
  <li class="nav-item">
    <a class=" nav-link"
    [routerLinkActive]="['active']" [routerLink]="['home/right']">
      Right</a>
  </li>
  <li class="nav-item">
    <a class=" nav-link"
    [routerLinkActive]="['active']" [routerLink]="['admin']">
      Amin</a>
  </li>
  <li class="nav-item">
    <a class=" nav-link"
    [routerLinkActive]="['active']" [routerLink]="['admin/left']">
      Left</a>
  </li>
  <li class="nav-item">
    <a class=" nav-link"
    [routerLinkActive]="['active']" [routerLink]="['admin/right']">
      Right</a>
  </li>

</ul>
