<nz-layout style="min-height: 100vh;">
    <nz-sider nzWidth="200px" nzTheme="light" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <div nzWidth="200px" class="logo">
            <div class="h-full w-full">
                <img src="../../../../assets/img/logo.svg" alt="So Easy" class="mx-auto h-full hidden md:block">
                <img src="../../../../assets/img/logo-compact.svg" alt="So Easy" class="mx-auto h-full md:hidden"></div>
        </div>

        <br />
        <ul nz-menu nzMode="inline" class="sider-menu" [nzTheme]="theme ? 'light' : 'dark'">
            <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [nzTooltipTitle]="isCollapsed ? 'Dashboard' : ''" (click)="setMenuItem(MenuConfig.Dashboard)" nzSelected>
                <i nz-icon nzType="mail"></i>
                <span>Dashboard</span>
            </li>
            <li nz-submenu nzTitle="Your KPI" nzIcon="fund-view">
                <ul>
                    <li nz-menu-item (click)="setMenuItem(MenuConfig.YourKPI)"> Referral </li>
                    <li nz-menu-item (click)="setMenuItem(MenuConfig.YourKPIRewarded)">Purchased Referral </li>
                </ul>
            </li>
            <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [nzTooltipTitle]="isCollapsed ? 'Payout' : ''" (click)="setMenuItem(MenuConfig.PayoutStatus)">
                <i nz-icon nzType="dollar"></i>
                <span>Payout status</span>
            </li>
            <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [nzTooltipTitle]="isCollapsed ? 'Memberships' : ''" (click)="setMenuItem(MenuConfig.Membership)">
                <i nz-icon nzType="bell"></i>
                <span>Memberships</span>
            </li>

            <li *ngIf="!isCollapsed" class="px-6 my-6">

                <button (click)="showModal()" class="flex items-center justify-between px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
          Get Refer Code
          <span class="ml-2" aria-hidden="true">*</span>
        </button>

            </li>
        </ul>
    </nz-sider>

    <nz-layout>
        <nz-header class="p-0 shadow-lg">

            <div nz-row>
                <div nz-col nzSpan="8">
                    <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="isCollapsed = !isCollapsed"></i>
                </div>

                <div nz-col nzSpan="4" nzOffset="12">

                    <ul class="flex items-center flex-shrink-0 space-x-6">
                        <li class="relative ">
                            {{GreetingText}}

                        </li>
                        <!-- Notifications menu -->
                        <li class="relative">
                            <button class="relative align-middle rounded-md focus:outline-none focus:shadow-outline-purple" nz-dropdown [nzDropdownMenu]="notification" aria-label="Notifications" aria-haspopup="true">
                <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                  <path
                    d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z">
                  </path>
                </svg>
                <span aria-hidden="true"
                  class="absolute top-0 right-0 inline-block w-3 h-3 transform translate-x-1 -translate-y-1 bg-red-600 border-2 border-white rounded-full dark:border-gray-800"></span>
              </button>

                            <nz-dropdown-menu #notification="nzDropdownMenu">
                                <ul nz-menu>
                                    <li nz-menu-item>1st menu item</li>
                                    <li nz-menu-item>2nd menu item</li>
                                    <li nz-menu-divider></li>
                                    <li nz-menu-item nzDisabled>3rd menu item（disabled）</li>
                                </ul>
                            </nz-dropdown-menu>
                        </li>
                        <!-- Profile menu -->
                        <li class="relative">
                            <button class="align-middle rounded-full focus:shadow-outline-purple focus:outline-none" nz-dropdown [nzDropdownMenu]="profile" aria-label="Account" aria-haspopup="true">
                <img class="object-cover w-8 h-8 rounded-full"
                  src="https://images.unsplash.com/photo-1502378735452-bc7d86632805?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&s=aa3a807e1bbdfd4364d1f449eaa96d82"
                  alt="" aria-hidden="true" />
              </button>
                            <nz-dropdown-menu #profile="nzDropdownMenu">
                                <ul nz-menu>
                                    <li nz-menu-item>1st menu item</li>
                                    <li nz-menu-divider></li>
                                    <li nz-menu-item (click)="logOut()">Logout</li>
                                </ul>
                            </nz-dropdown-menu>
                        </li>
                    </ul>

                </div>
            </div>

        </nz-header>
        <nz-content>

            <div class="content flex flex-col duration-300">

                <div class="p-6 md:p-10 w-100 max-w-full flex-1">

                    <sk-user-profile *ngIf="seletedMenuItem == MenuConfig.Dashboard && showProfileCompleteNotice"></sk-user-profile>

                    <sk-introduce *ngIf="seletedMenuItem == MenuConfig.Profile "></sk-introduce>

                    <sk-reward-all *ngIf="seletedMenuItem == MenuConfig.YourKPI"></sk-reward-all>

                    <sk-reward-purchasing *ngIf="seletedMenuItem == MenuConfig.YourKPIRewarded"></sk-reward-purchasing>

                    <sk-payout-log *ngIf="seletedMenuItem == MenuConfig.PayoutStatus"></sk-payout-log>

                    <sk-membership *ngIf="seletedMenuItem == MenuConfig.Membership"></sk-membership>
                </div>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>
