<div class="mt-10 ">

    <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
        <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-headline">
            Share the code and get money back!
        </h3>
        <div class="mt-2">
            <p class="text-sm leading-5 text-gray-500">
                When each customer using your code or enter this link below, You will get the rewarding
            </p>
        </div>

        <br/>

        <div class="p-2">
            <div nz-typography nzCopyable nzCopyText="{{code}}" class="inline-flex items-center bg-white leading-none text-purple-600 rounded-full p-2 shadow text-lg">
                <span class="inline-flex bg-purple-600 text-white rounded-full h-6 px-3 justify-center items-center text-">Code number</span>
                <span class="inline-flex px-2 copy-code">{{code}}</span>
            </div>
        </div>

        <div class="p-2">
            <div nz-typography nzCopyable nzCopyText="{{link}}" class="inline-flex items-center bg-white leading-none text-purple-600 rounded-full p-2 shadow text-lg">
                <span class="inline-flex bg-purple-600 text-white rounded-full h-6 px-3 justify-center items-center text-">Link</span>
                <span class="inline-flex px-2">{{link}}</span>
            </div>
        </div>
    </div>
    <!--
    <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse mt-10">
        <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">
      <button class="flex items-center justify-between px-10 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
        Ok</button>
    </span>
    </div> -->
</div>
