.header {
  height: 50px;
  width: 100%;
  border-style: solid;
  border: 1px 2px 1px 2px;
  border-color: brown;
}

.login-form{
  float: right;
  height: 50px;
  width: 30%;
  border-style: solid;
  border: 1px 1px 1px 1px;
  border-color: rgb(33, 170, 29);
}
