<div *ngIf="promiseData" class="row">
    <div class=" col-1">
        ToPromise
    </div>
    <div class=" col-3">
        <input class="form-control" name="cityname" [(ngModel)]="cityName" (change)="changeCity()">
    </div>
    <button *ngIf="promiseData.wind" type="button" class="col-3 btn btn-primary">Wind Speed &nbsp;<span
      class="badge badge-light">{{ promiseData.wind.speed}}</span></button>

    <button *ngFor="let w of promiseData.weather" type="button" class="col-5 btn btn-success">description <span
      *ngIf="w.description" class="badge badge-light">{{w.main}} - {{w.description}}</span></button>
</div>


<div *ngIf="observableData" class="row">
    <div class=" col-1">
        Observable
    </div>
    <div class=" col-3">
        <input class="form-control" name="cityname" [(ngModel)]="cityName" (change)="changeCity()">
    </div>
    <button *ngIf="observableData.wind" type="button" class="col-3 btn btn-primary">Wind Speed &nbsp;<span
      class="badge badge-light">{{ observableData.wind.speed}}</span></button>

    <button *ngFor="let w of observableData.weather" type="button" class="col-5 btn btn-success">description
    <span *ngIf="w.description" class="badge badge-light">{{w.main}} - {{w.description}}</span></button>
</div>

<div *ngIf="asyncWeatherResultObservable | async" class="row">
    <div class=" col-1">
        Async
    </div>
    <div class=" col-3">
        <input class="form-control" name="cityname" [(ngModel)]="cityName" (change)="changeCity()">
    </div>

    <button type="button" class="col-3 btn btn-primary">Wind Speed &nbsp;<span
        class="badge badge-light">{{(asyncWeatherResultObservable | async)?.wind.speed}}</span>
    </button>

    <button *ngFor="let w of (asyncWeatherResultObservable | async)?.weather" type="button" class="col-5 btn btn-success">description
      <span class="badge badge-light">{{w.main}} - {{w.description}}</span>
    </button>

</div>